body{
    background-color: rgb(211, 240, 240);
}
h1{
    text-align: center;
    color: blue;
    margin: 30px;
}
form{
    text-align: center;
    
}
[button]:hover{
    color: blue;
    border-radius: 5px;
    

}