div{
    display: flex;
    justify-content: center;

    
}
img{
    width: 100px;
    height: 100px;
}
h2{
    /* display: flex;
    justify-content: center; */
    color: blue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 50px;
    padding: 50ox;
    text-align: center;
}
/* .content{
    display: inline-block;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
} */
img{
    
        background-color: antiquewhite;
        width: 21.25em;
        box-shadow: 0 5px rgba(1 1 1 /15%);
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        transition: .7s ease;
        width: 100px;
    
}
img:hover{
    transform: scale(1.1);
}